* {
    box-sizing: border-box;
  }

body {
    /* background-size: 100%; */
    font-family: 'Poiret One', sans-serif;
    font-size: 140%;
}

.navbar-brand {
    font-size: 160%;
}

.navbar {
    background: #255A59;
}

a:hover {
    color:#FFE8FF !important;
}

.bg-primary {
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: url("../images/pinkbricks.jpg") !important;
    background-size: 100%;
}

.container {
    width: 100%;
}

.titleDiv {
    background-color: white;
    z-index: 1;
    font-weight: bold;
    padding: 5%;
    border-style: solid;
    border-color: black;
    border-width: thick;
    margin-bottom: 5%;
}

.skills {
    font-size: 110%;
}

.photoDiv {
    text-align: center;
    margin-bottom: 5%;
}

.profilePic {
    width: 60%;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    border-bottom-width: 60px;
}

.bg-secondary {
    background-color: #255A59 !important;
}

.aboutSection {
    text-align: center;
    color: white;
    padding-top:1%;
    padding-bottom: 2%;
}

.aboutParagraph {
    text-align: left;
    color: white;
}

.phoebe {
    width: 75%;
    border-style: solid;
    border-color: white;
    border-width: 12px;
    border-bottom-width: 50px;
}

.portfolio {
    color:  #255A59 !important;
    text-align: center;
    padding-top: 1%;
}